# This file lists the Python libraries used in the virtual enviroment.
# See the venv.ps1 and venv.sh scripts in this directory.
# Python 3.11.6 is recommended;
# see https://www.python.org/downloads/release/python-3116/
# Chris Joakim, Microsoft

# Standard core libraries
azure-storage-blob
docopt
matplotlib
openai
pandas
plotly
psutil
pylint
pytest==7.3.2
pytest-cov
pytz
redis
requests
tiktoken>=0.4.0
scikit-learn
scipy
